extends ../layout

block donate
    article
      h2 Donate
      p
        | The work of animal shelter e is funded entirely by public donations. Your support is vital if we are to make a lasting difference to animals' lives. Your gift today - whatever sum you choose to give - will help us save animals from suffering and give them the expert treatment and care they need..
      form(target='_blank', action='https://www.youcaring.com/', method='get')
        input(type='submit', value='Donate')