block dog
  link(rel='stylesheet', href='/stylesheets/dog.css')
  article.dog
    img(src='images/jovana.jpg', alt='Jovana dog')
    .dogInfo
      h3#nameOfDog Jovana
      p.breed Mix
      p.gender female
      p.color beige
      p.age 5 years
      p.size 10 kg
  article.dog
    img(src='images/jovana.jpg', alt='Jovana dog')
    .dogInfo
      h3#nameOfDog Jovana
      p.breed Mix
      p.gender female
      p.color beige
      p.age 5 years
      p.size 10 kg

