label, input, select {
	margin: 4% 4%;
}

label {
	width: 50%;
	font-size: 20px;
}

input[type=number], #color {   
    padding: 3px 5px;
 	width: 80%;
    cursor: pointer;
    border-radius: 4px;
}


input[type=button] {
    width: 100%;    
    background-color: #ED8804;
    color: white;
    padding: 7px 10px;
    font-size: 20px;
    margin: auto 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form {
	display: block;
}

aside {
	display: block;
	margin: 2%;
	background-color: #f1f1f1;
}

/*for smaller screens (mobile)*/
@media all and (max-width: 550px){
	label{
		font-size: 18px;
	}
	input, select {
		margin: 4% 10%;
	}
	input, select {
		width: 100px;
		transform: scale(1.5);
	}
}