form {
	display: inline-block;
}

article {
    border-radius: 10px;
}

input {
	width: 100%;   
    padding: 7px 10px;
    font-size: 20px;
    margin: auto 0;
    cursor: pointer;
    border-radius: 4px;
}


input[type=submit] {
    width: 100%;    
    background-color: #ED8804;
    color: white;
    padding: 7px 10px;
    font-size: 20px;
    margin: auto 0;
    border: none;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 4px;
}