article {
	display: inline-block;
	width: 46%;
	background-color: #f1f1f1;
	margin: 2%;
}

section {
	width: 70%;
	float: right;
}

article img {
	width: 80%;
	padding: 10%;
	min-height: 600px;

  -webkit-transition: all 0,3s ease;
     -moz-transition: all 0,3s ease;
       -o-transition: all 0,3s ease;
      -ms-transition: all 0,3s ease;
          transition: all 0,3s ease;
}

article img:hover {
  -webkit-filter: opacity(0.6);	
}

.dogInfo {
	margin: 20px;
}

#sort {
	float: right;
	margin-right: 10%;
	font-size: 20px;
}

/*for smaller screens */
@media all and (max-width: 900px){
	section {
		float: left;
		width: 100%;
	}
}


/*for smaller screens (mobile)*/
@media all and (max-width: 550px){
	section {
		float: left;
		width: 100%;
	}

	article {
		width: 100%;
	}
}