article {
	display: inline-block;
	width: 43%;
	background-color: #f1f1f1;
	margin: 3%;
	height: 80%;
}

section {
	width: 100%; 
}

article p, article h2 {
	margin-left: 4%;
}

article img {
	width: 80%;
	padding: 10%;
	height: 600px;
}

/*for smaller screens (mobile)*/
@media all and (max-width: 800px){
	section {
		float: left;
		width: 90%;
	}

	article {
		width: 100%;
	}
}

.story {
	height: 100px;
}