extends ../layout

block contact
  article
    h2 Contact
    p Depending upon your enquiry, we have different email addresses:
    p For general enquiries, please email enquiries@savingsufferingstrays.com
    p To sponsor a dog, please email sponsorship@savingsufferingstrays.com
    p
      | For further information about adopting a dog, please email adoptions@savingsufferingstrays.com
    p
      | For information about volunteering, please email volunteers@savingsufferingstrays.com
    p Thank you for your enquiry -- we will respond as soon as we can.
    // map
    iframe#map(src='https://www.google.com/maps/embed/v1/place?key=AIzaSyBZRYp-Q-PnLYiYhFt8-l33Y8kAB4vcFng&q=Sarajevo', allowfullscreen='')
