extends layout

block script 

block content
    h1 "NOISDF"
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
      // Wrapper for slides
      .carousel-inner(role='listbox')
        .item.active
          img(src='https://upload.wikimedia.org/wikipedia/commons/e/ef/Stray_dogs-pups.jpg', alt='stray dogs')
        .item
          img(src='http://santamonicadog.org/wp-content/uploads/2015/08/dog-shelter.jpg', alt='stray dogs')
        .item
          img(src='https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Top-5-Myths-About-Shelter-Dogs.jpg', alt='stray dogs')
        .item
          img(src='http://www.whistle.com/images/blog/adopt-a-shelter-dog-active-istock.jpg', alt='stray dogs')
      // Left and right controls
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next


       
   
