extends ../layout

block editProfile
  link(rel='stylesheet', href='/stylesheets/article.css')
  link(rel='stylesheet', href='/stylesheets/login.css')
  article
    h2 Profile
    form(action='/editProfile', method='post')
      p
        label(for='username') Username
      input#username(type='text', name='username')
      br
      p
        label(for='password') Password
      input#password(type='password', name='password')
      br      
      p
        label(for='email') Email
      input#email(type='email', name='email')
      br
      p
        label(for='firstName') First name
      input#firstName(type='text', name='firstName')
      br
      p
        label(for='lastName') Last name
      input#lastName(type='text', name='lastName')
      br
      p
        label(for='image') Image (url)
      input#image(type='text', name='image')
      br
      br
      input(type='submit', value='Edit profile')
