extends ../layout

block profile
    link(rel='stylesheet', href='/stylesheets/article.css')
    article
      img(src = userProfile.image, alt= userProfile.firstName)
      .dogInfo
        h3#nameOfUser !{userProfile.firstName} !{userProfile.lastName}
        p Adopted dogs: 
            if(dogs)
                each dog in dogs
                    br 
                    !{dog.name} 
                    br 
                    img(src = dog.image, alt= dog.name)


