extends ../layout

block story
    link(rel='stylesheet', href='/stylesheets/story.css')
    each story in stories
        article
          h2 !{story.title}
          img.storyImg(src=story.image, alt=story.title)
          .story
            p !{story.description}
