extends ../layout

block story
    link(rel='stylesheet', href='/stylesheets/story.css')
    article
      h2 Remember our pound pups Shadow and Chance?
      img.storyImg(src='images/15220112_1270394303100700_6206710431455468513_n.jpg', alt='story')
      .story
        p
          | - who together beat both parvo and distemper they got in pound
          br
          | Now they are both living a lovely life in Scotland
