aside {
	float: left;
	display: inline-block;
	background-color: #f1f1f1;
	width: 10%;
	overflow: hidden;
	margin: 2% 5% 2% 0%;
	padding: 2%;
}

/*minimizing padding*/
@media all and (min-width: 1050px){
	aside{
		float: left;
		display: block;
		width: 10%;
	}
}

/*minimizing padding*/
@media all and (min-width: 900px){
	aside{
		float: left;
		display: block;
		width: 20%;
	}
}

/*minimizing padding*/
@media all and (max-width: 900px){
	aside{
		float: left;
		display: block;
		width: 50%;
	}
}

/*for smaller screens (mobile)*/
@media all and (max-width: 550px){
	aside{
		display: block;
		width: 90%;
		margin: 5px;
	}
}
